<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <P class="lead">CampScape</P>
            <div class="list-group">
                <a href="#" class="list-group-item active"><%= campground.name %></a>
                <a href="#" class="list-group-item">Info</a>
                <a href="#" class="list-group-item">Info</a>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <span><h4 class="pull-right">$<%= campground.price %>/night</h4></span> 
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <span class="pull-right"><em><%=moment(campground.createdAt).fromNow()%></em></span>
                    <p><em>Submitted by <a href="/users/<%=campground.author.id%>"><%= campground.author.username %></a></em></p>
                    <% if(currentUser && currentUser._id.equals(campground.author.id) || currentUser && currentUser.isAdmin === true){ %>
                        <a class="btn btn-warning btn-xs" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-xs">Delete Campground</button>
                        </form>                   
                    <% }; %>
                </div>
            </div>

            <div class="well">
                <div class="text-right">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-danger btn-md">Add New Comment</a>
                </div>
                <hr>
                <div>
                    <% campground.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-lg-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="pull-right"><em><%=moment(comment.createdAt).format('MMMM Do YYYY, h:mm:ss a')%></em></span>
                                <p><%= comment.content %></p> 
                                 <% if(currentUser && currentUser._id.equals(comment.author.id) || currentUser && currentUser.isAdmin === true){ %>
                                    <a class="btn btn-warning btn-xs" href="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>/edit">Edit</a>
                                    <form class="delete-form" action="/campgrounds/<%= campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger btn-xs">Delete Comment</button>
                                    </form>                   
                                <% }; %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>
